body{
    font-family: 'SF Pro Display', sans-serif;
    background-color:#e7e7e7;
}
header{
    display: flex;
    background-color: #585858;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}
.goods-list {
   
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.goods-item {
    display: block;
    padding: 10px;
    border: solid 1px black;
}